version: '3'

services:
  auth-service:
    build:
      context: ./
      dockerfile: ./docker/auth.dockerfile
    restart: always
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 1
    networks:
      - mynet
  mail-service:
    build:
      context: ./
      dockerfile: ./docker/mail.dockerfile
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    networks:
      - mynet
  postgres:
    image: 'postgres:14.2'
    ports:
      - "5432:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cook_app
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/
    networks:
      - mynet
  mailhog:
    image: 'mailhog/mailhog:latest'
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - mynet

networks:
  mynet:
    driver: bridge