version: '3'

services:
  auth:
    build:
      context: ./
      dockerfile: ./docker/auth.dockerfile
    restart: always
    ports:
      - "8080:8080"
    deploy:
      mode: replicated
      replicas: 1
  postgres:
    image: 'postgres:14.0'
    ports:
      - "5432:5432"
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cooki_app
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/